.App {
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.main_header {
  font-family: 'Montserrat', sans-serif;
}